<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shareholder</title>
    <link rel="stylesheet" href="/css/add-share-holder.css">
</head>

<body>

    <div class="container">
        <header>
            <h1>Add Shareholder</h1>
        </header>
         <!-- Display validation errors -->
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul class="error-list">
            <% for (let i = 0; i < errors.length; i++) { %>
                <li><%= errors[i].msg %></li>
            <% } %>
            </ul>
        <% } %>
        
        <form action="/add-share-holder" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="mobile_number">Mobile Number:</label>
            <input type="text" id="mobile_number" name="mobile_number" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required>

            <button type="submit">Add Shareholder</button>
            <button type="reset">Reset</button>
        </form>
    </div>

</body>

</html>