/* buy-share-form.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}

header {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

select,
input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#installmentTableContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.installment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.installment-table th,
.installment-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.installment-table th {
    background-color: #636463;
    color: #fff;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; /* Adjust the margin as needed for spacing */
    padding: 8px 12px; /* Adjust padding for button size */
    text-decoration: none;
    color: #fff; /* Text color */
    background-color: #4CAF50; /* Green background color */
    border: none;
    border-radius: 4px; /* Optional: Add rounded corners */
}