/* style.css */

body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f0f8f0; */
    /* Light green background */
    color: #333;
    /* Dark text color */
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    /* White container background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Box shadow for a subtle elevation effect */
    margin-top: 10%;
}

header {
    padding: 10px;
    text-align: center;
}

h1 {
    color: #0e0808;
    /* White text color for header */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #999c99;
    /* Green header background for table */
    color: #fff;
    /* White text color for table header */
}

.navigation {
    margin-top: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    /* White text color for buttons */
    background-color: #4caf50;
    /* Green button background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

.alert {
    padding: 10px;
    margin-bottom: 30px;
    background-color: #1233ee;
    /* Green background for success alert */
    color: #fff;
    /* White text color for success alert */
    border-radius: 5px;
}