/* monthly-summary.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #949794;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e2f4ff;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.button:hover {
  background-color: #45a049;
}

/* Additional styling for date input */
input[type="month"] {
  padding: 10px;
  margin-top: 10px;
}

/* Success and error messages */
.success-message {
  color: #008000;
  font-weight: bold;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
}

.total-panel {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Styling for the form */
form {
  margin-top: 20px;
  text-align: center;
}

label {
  margin-right: 10px;
}

input[type="month"] {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}
